@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$black: #000;
$halloween-orange: #E45E22;
$white : #fff;

$background-color: $black;
$main-font-color: $white;
$theme-font-color: $halloween-orange;
$main-font-family: 'Poppins', sans-serif;

body{
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $main-font-color;
  font-family: $main-font-family;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main{
  padding: 0;
  margin-bottom: 40px;
  .header__row{
    padding: 40px;
    & h1{
      color: $theme-font-color;
      text-align: center;
      font-size: 4.4rem;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  .movie{
    &__search__row{
      margin-bottom: 20px;
      .content{
        @include flex-row-center();
        text-align: center;
        h3{ 
          margin-bottom: 0;
          text-transform: uppercase;
        }
        > * {
          margin-right: 15px;
        }
      }
    }

    &__card__row{
      .card{
        border: none;
        padding: 0;
        margin: 0px 5px 40px 0px;
        max-width: 190px;
        img {
          border-radius: 4px;
          width: 100%;
        }
        &__popup{
          position: absolute;
          visibility: hidden;
          display: none;
          z-index: 1;
          .information__container{
            position: absolute;
            top: 0;
          }
        }
        &:hover .card__popup{
          visibility: visible;
          display: block;
        }
      }
    }
  }
}